<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.atividadeartista">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AtividadeArtista">
        <activity
            android:name=".SomenteListView"
            android:exported="false"
            android:label="@string/title_activity_somente_list_view"
            android:theme="@style/Theme.AtividadeArtista.NoActionBar" />
        <activity
            android:name=".albunSocForassois"
            android:exported="false" />
        <activity
            android:name=".albunTempoNaoPara"
            android:exported="false" />
        <activity
            android:name=".albunIdeologia"
            android:exported="false" />
        <activity
            android:name=".albunExagerado"
            android:exported="false" />
        <activity
            android:name=".albunBurguesia"
            android:exported="false" />
        <activity
            android:name=".biografiaCazuza"
            android:exported="false" />
        <activity
            android:name=".albunss"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>